.app-container {
  display: flex;
  flex-direction: row;
}

.app-flexboard {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  border-right: #e9e9e9 1px solid;
  flex-direction: row;
  background: #ffffff;
  box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.app-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  max-height: 100%;
  background: #ffffff;
  box-shadow: 8px 2px 32px -2px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.app-flexboard .app-flexboard-content {
  flex: 1;
}

.app-flexboard .app-flexboard-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-flexboard .app-flexboard-resizer:hover {
  background: #c1c3c5b4;
}
