.Sidebar {
  height: 100%;
  width: 100%;
  background-color: #2f4050;
}

.ProjectName {
  padding: 5%;
}

.Steps {
  padding: 5%;
  color: white;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Sidebar.row:hover {
  cursor: pointer;
  background-color: #293846;
}

.row #title {
  flex: 70%;
}
